version: '3.9'

services:
    app:
        build: .
        image: time_series_app
        container_name: time_series
        command: >
            bash -c "streamlit run About.py"
        volumes:
            - .:/time_series
        ports:
            - 10552:8501
        stdin_open: true
        tty: true
